.plant-list {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 450px;
  background-color: aqua;
}
.card {
  width: 250px;
  background-color: aqua;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid #333;
}
